/* App.css */

/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 7.3px;
}


/* Sidebar styles */
.sidebar {
  flex: 0 0 240px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.logo-sec {
  display: flex;
  align-items: center;
  padding: 5px;
  height: fit-content;
}

.app-links {
  list-style-type: none;
  padding-top: 20px;
  padding-left: 30px;
  margin: 15px;
}

.app-links a:hover {
  color: #f16311;
}

.app-links li {
  margin-bottom: 40px;

}

.app-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Content styles */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.document-name-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.toolbar-button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toolbar-button:hover {
  background-color: #f8f9fa;
}

.share-button {
  border: none;
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  /* Adjust the value to control the oval shape */
  font-size: 16px;
  cursor: pointer;
}

.share-button:hover {
  background-color: #2980b9;
}

.menu {
  word-spacing: 10px;
  padding-left: 20px;
  padding-top: 10px;
  ;
  margin: -5px;
}


h1 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #333;
}

.toolbar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.document-name-input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ddd;
}

.toolbar-button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.share-button {
  margin-left: auto;
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.profile-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.editor-container {
  flex: 1;
  padding: 10px;
}

.editor {
  position: relative;
  height: 100%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.editor .ql-container {
  height: 100%;
  background-color: #fff;
}


/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 80px;
  }



  .content {
    flex: 1;
  }



  .document-name-input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .share-button {
    margin-left: auto;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }

  .share-button:hover {
    background-color: #0056b3;
  }

}

/* FontDropdown.css */

#fontDropdown {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin-right: 100px;
  height: 33px;

  position: relative;
  top: -5px;
  ;
  width: 200px;

  font-family: Arial, sans-serif;
  font-size: 15px;
}